{% extends 'core/base.html' %}
{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoria</span>
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Asesoria personalizada, paginas web, cms, programacion en python, manejo de pandas y numpy</p>
        <br>
        <p><b>Teléfono:</b> +57 3186985296</p>
        <p><b>Honorarios:</b> 50000 pesos por hora (precio base)</p>
      </div>
    </div>
{% endblock %}



   
